/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.bottom-padding {
	padding-bottom: 20px;
}



/*--------------------------------------------------------
Commons
--------------------------------------------------------*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::-moz-selection {background: #A2A2A2;color: white; }
::selection {background: #A2A2A2;color: white; }

body {
	background: white;
	font: 13px 'Open Sans', sans-serif;
	color: #FAFAFA;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.scaleimg {
	width: 100%;
    height: auto;
}

.hidden {
	display: none;
}

.vertical-text {
	display: table-cell;
	vertical-align: middle;
}

.tritter-card {
	background: url("../images/contact-bg.png") repeat scroll 0 0 transparent;
	margin: 15% 0 100px;
	padding: 45px;
	position: relative;
	text-align: left;
	width: 100%;
}

.pattern {
	background: url(../images/pattern.png);
	width: 100%;
	position: absolute;
}	


/*--------------------------------------------------------
Typography
--------------------------------------------------------*/

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 86px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 7px;
}

h1.white {
	color: white;
}

h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}

h2.white {
	color: white;
}


h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

h3.white {
	color: white;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

p {
	margin-top: 10px;
}

a {
	color: #c8a241;
	text-decoration: none;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}

a:hover {
	color: #e4b94a;
}

p.lead {
	font-size: 20px;
	color: #CCCCCC;
	line-height: 1.4;
}

hr {
	margin: 25px 0;
	border: 0;
	border-bottom: 1px solid #f0f2f5;
}



/*--------------------------------------------------------
Navigation
--------------------------------------------------------*/

nav {
	background: black;
	width: 100%;
	position: relative;
	z-index: 1000;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.links {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.links li {
	display: inline;
	margin: 0 15px 0 0;
}

.links a {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.links a:visited {
	color: white;
}

.links a:hover {
	color: #e4b94a;
}

.links a.to-top span {
	display: none;
}

.links a.to-top i {
	position: absolute;
	top: 16px;
	margin-left: 22px;
	width: 18px;
	height: 18px;
	opacity:0.3;
	background: #757c8c;
	color: #FAFAFA;
	font-size: 11px;
	line-height: 1.2;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.links a.to-top:hover i {
	opacity:1; 
}

.selectnav {
	display: none;
}

.social-icons {
	text-align: right;
	margin-top: 15px;
}

.social-icons li {
	display: inline-block;
	margin: 0 0 0 6px;
}

.social-icons li a {
	color: white;
	font-size: 11px;
	line-height: 1.8;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 20px;
	height: 20px;
	background: #222222;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.social-icons a:hover {
	background-color: #c8a241;
}

.social-icons-normal {
	margin-top: 9px;
}

.social-icons-normal li {
	display: inline-block;
	margin-top: 6px;
}

.social-icons-normal li a {
	color: white;
	font-size: 13px;
	line-height: 1.9;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 24px;
	height: 24px;
	background: #2b3441;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.social-icons-normal a:hover {
	background-color: #c8a241;
}

.dropmenu {
	display: none;
}




/*--------------------------------------------------------
Parallax
--------------------------------------------------------*/


.parallax {
	width: 100%;
	min-height: 440px;
	background-color: #FAFAFA;
	position: relative;
	overflow: hidden;
}

.parallax .vertical-text {
	height: 440px;
}

.parallax .pattern {
	height: 100%;
}


	/*Parallax1------------------------------------------*/
	
	.bg1 {
		background: url(../images/parallax/teaser1.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		min-height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 48px;
		line-height: 1;
		margin-bottom: 20px;
		color: white;
		text-align: center;
		text-transform: uppercase;
		z-index: 200;
		margin: 0 10% 0 10%;
	}
	
	.prlx-author {
		height: 24px;
		background-image: url(../images/quote.png);
		background-position: left top;
		background-repeat: no-repeat;
		background: -Webkit-image-set(url(../images/quote.png) 1x, url(../images/quote@2x.png) 2x) left top no-repeat; /* Image for Retina */	
		width: auto;
		padding-left: 40px;
		font-size: 11px;
		font-weight: 600;
		color: white;
		text-transform: uppercase;
		line-height: 0.9;
		position: relative;
		margin-top: 26px;
		left: 42%;
		z-index: 200;
	}


	/*Parallax2------------------------------------------*/
	
	.bg2 {
		background: url(../images/parallax/teaser2.jpg) top center fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 120%;
	}
	
	.twitter-author {
		text-transform: uppercase;
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 24px;
	
	}
	
	.tweet {
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
		color: white;
		line-height: 1.4;
		margin: 7px 0 12px 0;
	
	}
	
	.twitter-date {
		color: #e4b94a;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
	}


	/*Parallax3------------------------------------------*/
	
	.parallax h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.bg3 {
		background: url(../images/parallax/teaser3.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	.clients {
		text-align: center;
	}
	
	.clients li {
		display: inline;
		margin: 0 15px 0 15px;
		height: 50px;
		opacity:1;
	}
	
	.clients li:hover {
		opacity:0.7;
	}



/*--------------------------------------------------------
Content
--------------------------------------------------------*/

.page {
	padding-top: 64px;
	padding-bottom: 80px;
	position: relative;
	background: url("../images/black_pattern08.jpg");
}

.one-text {
	font-size: 20px;
	line-height: 1.5; 
}

.description {
	font-size: 12px;
	line-height: 18px;
}

.columns .img-wrp {
	position: relative;
}

.img-wrp img {
	display: block;
}


.overlay-wrp {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	height: 100%;
	width: 100%;
}

.overlay-wrp .overlay {
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	width: 100%;
}

.overlay {
	background: #000000; /*#e4b94a;*/

}
    
	
	/*Homepage------------------------------------------*/
	
	#homepage {
		background: url(../images/pattern.png);
		position: relative;
		overflow: hidden;
		height: 100%;
		margin-bottom: -50px;
	}
	
	#homepage .container {
		height: 100%;
	}
	
	.logo {
		top: 40px;
		position: absolute;
		opacity: 0;
		filter: alpha(opacity=50);
	}
	
	
	.promo-video {
		bottom: 120px;
		position: absolute;
		overflow: hidden;
		right: 0;
		text-align: center;
	}
	
	.promo-video .img-wrp img {
		border: 5px solid #222222;
	}
	
	.slider-text {
		position: absolute;
		overflow: hidden;
		bottom: 60px;
		min-height: 40px;
	}
	
	#slidecaption { 
		overflow: hidden;
		float: left;
		color: white;
		font: 92px/0.9 "BebasNeueRegular", Helvetica, Arial, sans-serif;
		margin: 0 20px 0 0;
	}
	
	.slidedescription {
		font: 600 14px "Open Sans", Helvetica, Arial, sans-serif;
		margin: 13px 0 0 0;
	}
	
	.line {
		border-bottom: solid white 1px;
		margin-bottom: 36px;
		opacity: 0;
		filter: alpha(opacity=0);
	}	
	
	
	/*About------------------------------------------*/
	
	.container .overlay-content.social-icons {
		text-align: center;
		margin-top: -11px;
		position: absolute;
		top: 20%;
		width: 100%;
		z-index: 10;
	}
	
	.container .overlay-content.social-icons li a {
		height: 22px;
		width: 22px;
		font-size: 14px;
		line-height: 1.6;
		background: black;
		color: #c8a241;
		opacity: 0.7;
	}
	
	.container .overlay-content.social-icons li a:hover {
		opacity: 1;
	}
	
	.column .img-wrp {
		position: relative;
		margin: 52px 0 14px 0;
		
	}	
	
	.job-position {
		color: #e4b94a;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		margin: -4px 0px 14px 0px;
	}
	



	/*Culrute------------------------------------------*/

	.full-width {
		/* background: #f0f2f5 */;
		padding: 60px 0px 60px 0px;
		margin: 53px 0px 54px 0px;
	}


	/*Services------------------------------------------*/
	
	.service h3 {
		text-align: center;
		margin-top: 46px;
	}
	
	.service .description {
		text-align: center;
	}

	.service .icon {
		width: 160px;
		height: 160px;
		border-radius:160px;
		-webkit-border-radius: 160px;
		-moz-border-radius: 160px;
		margin: 24px auto 24px auto;
		background: #f0f2f5 center center no-repeat;
	}
	
	
	/*Portfolio------------------------------------------*/
	

	
	.project-title {
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 7px;
	}
	
	.project-description {
		color: #e4b94a;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0 0 20px 0;
	}
	
	.columns .overlay-content.loupe {
		width: 34px;
		height: 34px;
		background: url(../images/loupe.png) 0px 0px no-repeat;
		position: absolute;
		top: 22%;
		margin: -17px 0 0 -17px;
		left: 50%;
		z-index: 10;
	}
	
	.option-set {
		margin-left: 8px;
		margin-bottom: 36px;
	}

	.option-set li {
		display: inline-block;
		position: relative;
		margin-right: 10px;
		text-transform: uppercase;
		font-size: 11px;
	}
	
	.option-set i {
		color: #e4b94a;
	}
	
	.option-set li a.selected {
		color: #c8a241;
	}
	
	.option-set li a {
		color: #e4b94a;
		text-decoration: none;
		font-weight: 600;
	}
	
	.option-set li a:hover {
		color: #c8a241;
	}
	
	
	/* ==================================================
	Isotope Filtering
	================================================== */
	
		.item {
			height: 198px;
		}
	
		/* --- Start: Recommended Isotope styles --- */
		.isotope-item {
		  z-index: 2;
		}
		
		.isotope-hidden.isotope-item {
		  pointer-events: none;
		  z-index: 1;
		}
		
		
		/* --- Isotope CSS3 transitions --- */
		.isotope,
		.isotope .isotope-item {
		  -webkit-transition-duration: 0.6s;
		     -moz-transition-duration: 0.6s;
		      -ms-transition-duration: 0.6s;
		       -o-transition-duration: 0.6s;
		          transition-duration: 0.6s;
		}
		
		.isotope {
		  -webkit-transition-property: height, width;
		     -moz-transition-property: height, width;
		      -ms-transition-property: height, width;
		       -o-transition-property: height, width;
		          transition-property: height, width;
		}
		
		.isotope .isotope-item {
		  -webkit-transition-property: -webkit-transform, opacity;
		     -moz-transition-property:    -moz-transform, opacity;
		      -ms-transition-property:     -ms-transform, opacity;
		       -o-transition-property:         top, left, opacity;
		          transition-property:         transform, opacity;
		}
		
		
		/* --- disabling Isotope CSS3 transitions --- */
		.isotope.no-transition,
		.isotope.no-transition .isotope-item,
		.isotope .isotope-item.no-transition {
		  -webkit-transition-duration: 0s;
		     -moz-transition-duration: 0s;
		      -ms-transition-duration: 0s;
		       -o-transition-duration: 0s;
		          transition-duration: 0s;
		}
		
		/* --- End: Recommended Isotope styles --- */
	
	
	
	/* --- disable CSS transitions for containers with infinite scrolling --- */
	.isotope.infinite-scrolling {
	  -webkit-transition: none;
	     -moz-transition: none;
	      -ms-transition: none;
	       -o-transition: none;
	          transition: none;
	}



	/*Contact------------------------------------------*/

	#contact {
		width: 100%;
		height: auto;
		min-height: 100%;
		background-color: #FAFAFA;
		background: url(../images/parallax/teaser3.jpg) 50% 50% fixed repeat-y;
/* 		background: url(../images/contacts.jpg) top center fixed; */
		background-size: cover;
		position: relative;
	}
	
	#contact .pattern {
		height: 100%;
	}

	.card {
		width: 100%;
		background: url(../images/contact-bg.png);
		text-align: center;
		padding: 45px 0 120px 0;
		margin: 15% 0 100px 0;
		position: relative;
	}
	
	.contact-tabs {
		margin-bottom: 35px;
	}
	
	.contact-tabs li {
		display: inline;
		margin: 0 2px;
	}
	
	.contact-tabs li a {
		padding: 4px 16px 5px 16px;
		background: #1c1f26;
		border-radius: 14px;
		font-size: 11px;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.adress {
		color: #e4b94a;
		font-size: 22px;
		margin-top: 10px;
	}
    
	.lines {
		width: 76%;
		border-top: white 1px solid;
		border-bottom: white 1px solid;
		text-transform: uppercase;
		color: white;
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		padding: 31px 0 31px 0;
		margin: 12px auto 40px auto;
		line-height: 1.45;
	}

	.contact-social-icons {
		text-align: center;
		position: absolute;;
		bottom: 60px;
		left: 0;
		width: 100%;
	}
	
	.contact-social-icons li {
		display: inline;
		margin: 0 7px 0 7px;
	}
	
	.contact-social-icons li a {
		display: inline-block;
		color: white;
		font-size: 30px;
		line-height: 2;
		background: url(../images/social-icons-bg.png);
		width: 60px;
		height: 60px;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}
	
	.contact-social-icons li a:hover {
		background-image: none;
		background-color: #c8a241;
	}
	
	.copyright {
		background: url(../images/footer-gr.png);
		width: 100%;
		height: 80px;
		position: absolute;
		z-index: 1000000;
		bottom: 0;
	}
	
	.copyright p {
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		font-size: 11px;
		color: white;
		margin-top: 46px;
	}
	
/*--------------------------------------------------------
Blog
--------------------------------------------------------*/	
	
	#blog {
		background: white;
		padding: 75px 0 80px 0;
	}
	
	.post {
		margin-bottom: 92px;
	}
	
	.post-title {
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 48px;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 20px;
	}

	.post-title a {
		color: #1c1f26;
	}
	
	.post-title a:hover {
		color: #c8a241;
	}
	
	
	.post-text hr {
		margin: 16px 0 21px 0;
	}
	
	.post-image {
		position: relative;
		overflow: hidden;
	}
	
	.image-caption {
		display: block;
		position: absolute;
		overflow: hidden;
		left: 30px;
		bottom: 30px;
		max-width: 60%;
		max-height: 80%;
		box-sizing: border-box;
		padding: 20px;
		background: url(../images/caption-bg.png);
		font-family: 'BebasNeueRegular', sans-serif;
		color: white;
		line-height: 1;
		font-size: 18px;
	}
	
	.post-tags {
		margin-top: 20px;
	}
	
	.post-tags i {
		display: inline-block;
		margin-right: 4px;
		color: #e4b94a;
		font-size: 12px;
		opacity: .6;
	}
	
	.post-tags ul {
		display: inline-block;
	}

	.post-tags li {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		font-size: 11px;
	}
	
	.post-tags li:after {
		content: ', ';
	}
	
	.post-tags li:last-child:after {
		content: '';
	}
	
	.post-tags li a {
		color: #e4b94a;
		text-decoration: none;
	}
	
	.post-tags li a:hover {
		color: #c8a241;
	}
	
	.post-info {
		margin-top: 35px;
		padding-top: 15px;
		border-top: 1px solid #f0f2f5;
		text-transform: uppercase;
		color: #e4b94a;
		font-size: 11px;
		font-weight: 600;
	}
	
	.post-info span {
		text-align: right;
		float: right;
	}
	
	.blog-sidebar {
		margin-left: 20px;
		border-left: 1px solid #f0f2f5;
		padding: 20px 0 20px 20px;
	}
	
	.block {
		margin-top: 31px;
	}
	
	.block:first-child {
		margin-top: 0;
	}
	
	.block-title {
		font-family: 'Oswald', sans-serif;
		font-size: 18px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	
	.tags-list li {
		text-transform: uppercase;
		font-size: 11px;
		color: #e4b94a;
		margin-top: 5px;
	}
	
	.tags-list li:first-child {
		margin-top: 0;
	}
	
	.tags-list li a {
		color: #e4b94a;
		text-decoration: none;
		font-weight: 600;
	}
	
	.tags-list li a:hover {
		color: #c8a241;
	}
	
	a.twfd-author {
		display: block;
		margin-top: -10px;
		text-transform: uppercase;
		color: #e4b94a;
		font-size: 11px;
	}

	a.twfd-author:hover {
		color: #c8a241;
	}
	
	.blog-tweet {
		font-size: 11px;
		margin-top: 16px;
	}
	
	.blog-tweet span {
		display: block;
		margin-top: 7px;
		color: #e4b94a;
		font-size: 10px;
	}
	
	.pagination {
		position: relative;
		width: 100%;
		border-top: 1px solid #f0f2f5;
	}
	
	.pages {
		text-align: center;
	}
	
	.pages li {
		display: inline-block;
	}

	.pages li {
		display: inline-block;
		margin: 0 2px 6px 0;
	}
	
	.pages li a {
		font-size: 14px;
		display: block;
		font-weight: 600;
		padding: 5px;
		color: #e4b94a;
	}
	
	.pages li a.current {
		border-top: 2px solid #a5ac33;
		color: #1c1f26;
	}
	
	.pages li a:hover {
		color: #a5ac33;
	}
	
	a.previous, a.next {
		display: block;
		margin-top: 8px;
		padding: 4px 8px;
		background-color: #f0f2f5;
		font-size: 10px;
		color: #1c1f26;
		text-transform: uppercase;
		-webkit-border-radius: 4px;
		   -moz-border-radius: 4px;
		   		border-radius: 4px;
	}
	
	a.previous:hover, a.next:hover {
		background-color: #a5ac33;
		color: white;
	}

	a.previous {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	a.next {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.comments {
		margin: 75px 0 0 0;
	}
	
	.comments-title {
		padding: 14px 0 12px 0;
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		border-top: 4px solid #eceff2;
		border-bottom: 1px solid #eceff2;
	}
	
	.comment {
		margin: 24px 0 26px 0;
		padding-bottom: 25px;
		border-bottom: 1px dotted #eceff2;
	}
	
	.comment-author {
		font-family: 'Oswald', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
	}
	
	.comment-date {
		font-size: 11px;
		text-transform: uppercase;
		color: #e4b94a;
		font-weight: 600;
	}
	
	.comment-text {
		margin-top: 9px;
	}
	
	.leave-comment-title {
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		margin: 45px 0 21px 0;
	}
	
	.leave-comment-title span {
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size:13px;
		color: #e4b94a;
		text-transform: none;
	}
	
	
/*--------------------------------------------------------
Shortcodes
--------------------------------------------------------*/	


	/*Buttons------------------------------------------*/

	.button {
		width: auto;
		background: #c8a241;/*1c1f26;*/
		color: white;
		cursor: pointer; 
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		outline: none;
		padding: 11px 20px 11px;
		position: relative;
		text-align: center;
		text-decoration: none;
		border: none;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-transition: background-color 0.15s ease-in-out;
		-moz-transition: background-color 0.15s ease-in-out;
		-o-transition: background-color 0.15s ease-in-out;
		transition: background-color 0.15s ease-in-out;
	}
	
	.button:hover {
		background-color: #e4b94a;
	}
	
	.button:active {
		background-color: #a38435;
	}
	
	.button:focus {
		background-color: #e4b94a;
	}
	
	.button.large {
		font-size: 16px;
		padding: 14px 30px 14px;
	}
	
	.button.small {
		font-size: 10px;
		padding: 6px 10px 6px;
	}


	/*Forms------------------------------------------*/

	form {
		margin-bottom: 20px;
	}
	
	fieldset {
		margin-bottom: 20px;
	}
	
	input, textarea {
		border: 1px solid #ccc;
		padding: 10px 10px;
		outline: none;
		color: #e4b94a;
		margin: 5px 0 0 0;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fafafa;
		font-size: 13px;
		text-transform: none;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		box-sizing: border-box;
		border-radius: 4px;
	}
	
	textarea {
		min-height: 100px;
	}
	
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #e4b94a;
 		color: #1c1f26;
 		background: white;
 		-moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
		box-shadow:  0 0 4px rgba(0,0,0,.2);
	}
	
	input.error {
		border: 1px solid #c60f13;
		background: #f9e7e8;
	}
	
	input.error[type="text"]:focus,
	input.error[type="password"]:focus,
	input.error[type="email"]:focus {
 		border: 1px solid #c60f13;
	}
	
	legend {
		display: block;
		font-weight: 600;
		font-size: 14px;
	}
	
	.card input,
	.card textarea,
	.card input:focus,
	.card textarea:focus {
		border: none;
	}


	
	/*Accordion and Toggle------------------------------------------*/
	
	.accordion, .toggle {
		margin: 20px 0;
	}
	
	.accordion-wrp h6, .toggle-wrp h6 {
		display: block;
		position: relative;
		overflow: hidden;
		padding: 13px 20px 11px 20px;
		margin-bottom: 10px;
		background: #f0f2f5;
		color: #1c1f26;
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		cursor: pointer;
		-webkit-transition: all 0.1s linear;
		   -moz-transition: all 0.1s linear;
		     -o-transition: all 0.1s linear;
		     	transition: all 0.1s linear;
	}
	
	.accordion-wrp h6 i, .toggle-wrp h6 i {
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -6px;
		font-size: 12px;
		line-height: 0.1;
		color: #1c1f26;
		-webkit-transition: all 0.2s linear;
		   -moz-transition: all 0.2s linear;
		     -o-transition: all 0.2s linear;
		     	transition: all 0.2s linear;
	}
	
	.accordion-wrp h6:hover, .toggle-wrp h6:hover {
		background: #3d424d;
		color: white;
	}
	
	.accordion-wrp .accordion-content, .toggle-wrp .toggle-content {
		padding: 5px 20px 30px 20px;
		display: none;
	}
	
	.accordion-wrp.current h6, .toggle-wrp.current h6 {
		background: #c8a241;
		color: white;
	}
	
	.accordion-wrp h6:hover i, .toggle-wrp h6:hover i  {
		color: white; 	
	}
	
	.accordion-wrp.current h6 i {
		color: white;
		margin-top: -2px;
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		   	-ms-transform: rotate(180deg);
		   	 -o-transform: rotate(180deg);
		   	 	transform: rotate(180deg);
		   	 	
	}
	
	.accordion-wrp.current .accordion-content, .toggle-wrp.current .toggle-content {
		display: block;
	}
	
	.toggle-wrp h6 i.icon-minus, .toggle-wrp.current h6 i.icon-plus {
		opacity: 0;
	}
	
	.toggle-wrp.current h6 i.icon-minus {
		color: white;
		opacity: 1;
	}


	/*Tabs------------------------------------------*/
	
 	.tabs {
		margin: 20px 0;
		overflow: hidden;
	}
	
	.tabs ul {
		width: 100%;
		margin: 0;
		overflow: hidden;
		border-bottom: 1px solid #c8a241;
	}
	
	.tabs ul li {
		display: inline-block;
		padding: 11px 20px;
		margin-right: 5px;
		background: #f0f2f5;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		cursor: pointer;
		-webkit-transition: all 0.1s linear;
		   -moz-transition: all 0.1s linear;
		     -o-transition: all 0.1s linear;
		     	transition: all 0.1s linear;
	}
	
	.tabs ul li:last-child {
		margin-right: 0;
	}
	
	.tabs ul li:hover {
		background: #3d424d;
		color: white;
	}
	
	.tabs ul li.current {
		background: #c8a241;
		color: white;
	}
	
	.tabs .tab-content {
		border: 1px solid #f0f2f5;
		padding: 16px 20px 25px 20px;
		display: none;
	}
	
	.tabs .tab-content:first-child {
		border: 1px solid #f0f2f5;
		padding: 16px 20px 25px 20px;
		display: block;
	}

  
    .js-tabs .tab-content{
    	display: none;
    }
    
    .js-tabs .tab-content.active{
        display: block;
        position: relative;
    }
    
    .js-tabs .tab-content-wrp{
        position: relative;
    }

	
    .js-tabs li a:hover, .js-tabs li a.current {
		background: #c8a241;
	}
	

	/*Alerts------------------------------------------*/

	.alert {
		padding: 10px 35px 10px 14px;
		margin: 10px 0;
		font: 13px 'Open Sans', sans-serif;
		background-color: #faf2cb;
		color: #c09853;
		border-radius: 4px;
		text-transform: none;
		text-align: left;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
	}
	
	.alert h5 {
		margin: 0;
	}
	
	.alert .close {
		position: relative;
		top: -2px;
		right: -21px;
		line-height: 20px;
	}
	
	.alert-success {
		background-color: #c3e4b8;
		color: #468847;
	}
	
	.alert-danger,
	.alert-error {
		background-color: #e7c1c0;
		color: #b94a48;
	}
	
	.alert-info {
		background-color: #b9dbee;
		color: #3a87ad;
	}
	
	.alert-block {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	
	.alert-block > p,
	.alert-block > ul {
		margin-bottom: 0;
	}
	
	.alert-block p + p {
		margin-top: 5px;
	}
	
	
	/*Close------------------------------------------*/

	.close {
		float: right;
		font-size: 18px;
		margin-top: -1px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #000000;
		opacity: 0.2;
		filter: alpha(opacity=20);
	}
	
	.close:hover {
		color: #000000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	
	button.close {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
	}
	
	
	
	/*Blockquote------------------------------------------*/
	
	blockquote {
		padding: 1px 0 6px 20px;
		border-left: 3px solid #c8a241;
		margin: 20px 0;
	}
	
	blockquote p {
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 6px;
	}
	
	blockquote small {
		color: #bbbdc3;
		font-size: 12px;
		margin-bottom: 10px;
	}
	
	cite {
		font-style: normal;
	}
	
	
	/* --------------------------------------------------------
		 Info block
	-------------------------------------------------------- */
	
	.info-block {
		position: relative;
		overflow: hidden;
		margin: 20px 0 20px 0;
		background: #f8f9f9;
		padding: 24px 30px 28px 30px;
		border-left: 4px solid #c8a241; 
	}
	
	.info-block h3 {
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 26px;
	}
	
	span.color-text {
		color: #c8a241;
	}
	
	.ib-text {
		position: relative;
		padding-right: 20%;
	}
	
	.info-block a.button {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -20px;
	}
	

	/* --------------------------------------------------------
		 Tooltip
	-------------------------------------------------------- */
	
	.tooltip{
	    position: absolute;
	    top: -25px;
	    margin-left: 50%;
	    border-radius: 5px;
	    display: none;
	    z-index: 100;
	    font-size: 11px;
	    min-width: 100px;
	}
	
	.tooltip-inner {
	  max-width: 200px;
	  padding: 3px 8px;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  background-color: #1c1f26;
	  border-radius: 4px;
	  position: relative;
	}
	
	.tooltip-inner .tooltip-arrow {
	    position: absolute;
	    border-left: 7px solid rgba(113, 101, 58, 0);
	    border-right: 7px solid rgba(113, 101, 58, 0);
	    border-top: 7px solid #1c1f26;
	    bottom: -5px;
	    left: 40%;










.clear { clear: both; }









